API_DNS="localhost:8000"
API_TLS="False"
API_TITLE="OpenEO Argo Api"
API_DESCRIPTION="Testing the OpenEO Argo Api"

STAC_API_URL="https://stac.terrabyte.lrz.de/public/api"

OIDC_URL="https://auth.terrabyte.lrz.de/realms/terrabyte/"
OIDC_ORGANISATION="terrabyte"
OIDC_ROLES=""

OPENEO_WORKSPACE_ROOT="/data"

ARGO_WORKFLOWS_SERVER=""
ARGO_WORKFLOWS_NAMESPACE="ns"
ARGO_WORKFLOWS_TOKEN="1234"

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRESQL_HOST="psql"
POSTGRESQL_PORT=5432
POSTGRES_DB="openeo"

REDIS_HOST="redis"

ALEMBIC_DIR="/opt/openeo_argoworkflows_api/psql"
CLIENT_ID=""
CLIENT_SECRET=""
CLIENT_ID_STATUS=""
CLIENT_SECRET_STATUS=""

SLURM_REST_API=""
SLURM_SBATCH="/config/sbatch_template.sh"

SLURM_JOB_PATH=""
SLURM_JOB_LD_PATH=""
SLURM_JOB_STDOUT=""
SLURM_JOB_STDERR=""
SLURM_PARTITION_DEFAULT=""
